#second-question-container{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2em;
}

#second-question-writing,
.second-question-option>label {
    font-size: 1.3em;
    font-weight: 600;
}

#second-question-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: 3em;
    /* justify-content: center; */
    /* align-items: center; */
}

.second-question-option {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.second-question-option>input[type='checkbox'] {
    width: 1.5em;
}