.cockpit-with-plants-container {
    gap: calc(2.5vh + 2vw);
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.cockpit-with-plants-header{
    font-size: calc(2.5vh + 1vw);
    font-weight: 600;
}

.cockpit-with-plants-action-container{
    gap: calc(2vh + 2vw);
    width: 100%;
    justify-content: flex-start;
}

.cockpit-with-plants-column-header{
    font-size: calc(1vh + 0.75vw);
    font-weight: 600;
}

.cockpit-with-plants-action-container-left,
.cockpit-with-plants-action-container-right{
    gap: calc(0.75vh + 0.75vw);
    align-items: flex-start;
}

.cockpit-with-plants-container hr{

    width: 100%;
    border-color: white;
}

.cockpit-with-plants-user-plant-container{
    gap: calc(2vh + 2vw);
}

.cockpit-with-plants-plant-image,
.cockpit-with-plants-action-icons-container{
    aspect-ratio: 0.85;
    height: calc(5vh + 4.5vw);
}

.cockpit-with-plants-plant-name{
    font-size: calc(1vh + 0.75vw);
    font-weight: 600;
}

.cockpit-with-plants-action-icon{
    aspect-ratio: 1;
    height: calc(3.5vh + 3.5vw);
    cursor: pointer;
}
