.settings-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1em;
}

.user-info-container {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  min-width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-info-container p {
  font-size: 1.5em;
  font-weight: 600;
  color: #2d6a4f;
  padding: 0.7em;
}

.user-info-container img {
  width: 40%;
  border-radius: 50%;
  margin-top: 0.5em;
  align-self: center;
}

.user-info-container span {
  font-weight: bold;
  color: #2d6a4f;
}

.change-text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 1em;
}

.confirm-button,
.confirm-button-delete {
  background-color: #2d6a4f;
  color: var(--white-lower-contrast);
  display: flex;
  width: 15em;
  min-height: 4em;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.confirm-button-delete {
  margin-bottom: 2em;
}

.confirm-button-delete > span {
  font-size: 1.5em;
}

.confirm-button > span {
  font-size: 1.5em;
}

.file-input {
  appearance: inherit;
}

.change-input,
.change-input-nickname {
  min-width: 50%;
  height: 4em;
  min-height: 4em;
  border-radius: 25px;
  border: 1px solid black;
  box-sizing: border-box;
  font-size: 1em;
  padding-left: 1em;
}

.change-input-nickname {
  margin-bottom: 1.5em;
}

.change-confirmation {
  color: var(--light-green-text-color);
}

.change-confirmation-invisible {
  color: var(--light-green-text-color);
  visibility: hidden;
}

.alert-visible {
  font-size: 12px;
  color: #f40a0a;
}

.alert-invisible {
  font-size: 12px;
  color: #f40a0a;
  visibility: hidden;
}

.info-text {
  width: 50%;
  font-size: 0.7em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: #767676;
  text-align: start;
}

.new-password-input-container {
  display: flex;
  width: 100%;
}

.eye-icon-1 {
  position: relative;
  width: 2em;
  height: 1.5em;
  top: 1.2em;
  right: 3em;
}

.eye-icon-2 {
  position: relative;
  width: 1.9em;
  height: 1.8em;
  top: 1em;
  right: 3em;
}
